<?xml version="1.0"?>
<config>
    <modules>
        <Vasilica_Glami>
            <version>0.1.0</version>
        </Vasilica_Glami>
    </modules>
    <global>
        <models>
            <vasilica_glami>
                <class>Vasilica_Glami_Model</class>
                <resourceModel>vasilica_glami_resource</resourceModel>
            </vasilica_glami>
            <vasilica_glami_resource>
                <class>Vasilica_Glami_Model_Resource</class>
            </vasilica_glami_resource>
        </models>
        <blocks>
            <vasilica_glami>
                <class>Vasilica_Glami_Block</class>
            </vasilica_glami>
        </blocks>
        <helpers>
            <vasilica_glami>
                <class>Vasilica_Glami_Helper</class>
            </vasilica_glami>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <vasilica_glami>
                    <file>vasilica_glami.xml</file>
                </vasilica_glami>
            </updates>
        </layout>
        <events>
            <sales_quote_product_add_after>
                <observers>
                    <vasilica_glami_add_to_cart>
                        <class>Vasilica_Glami_Model_Observer</class>
                        <method>onSalesQuoteProductAddAfter</method>
                    </vasilica_glami_add_to_cart>
                </observers>
            </sales_quote_product_add_after>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <vasilica_glami_initiate_checkout_onepage>
                        <class>Vasilica_Glami_Model_Observer</class>
                        <method>onInitiateCheckout</method>
                    </vasilica_glami_initiate_checkout_onepage>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
    </frontend>
    <default>
        <vasilica_glami>
            <settings>
                <enabled>0</enabled>
                <api_key><![CDATA[]]></api_key>
                <page_view>1</page_view>
                <add_to_cart>1</add_to_cart>
                <purchase>1</purchase>
                <use_sku>0</use_sku>
            </settings>
        </vasilica_glami>
    </default>
</config>